@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    
*@
@model List<string>
@{
    ViewData["Title"] = "Provincias";
}

<table>
    <thead>
        <tr><th> Provincias</th></tr>
    </thead>
    <tbody>
    </tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item</td>
        </tr>
    }
</table>