@{
    ViewData["Title"] = "Resultados punto 1 y 2";
    
}


<div class="text-center">
    <h1 class="display-4">Resultados punto 1 y 2</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>El cuadrado del numero: @ViewBag.cuadrado</h2>

    <h2>Resultado de la division: @ViewBag.div</h2>


</div>